.App {
  text-align: center;
}

#editor {
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px
      0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#preview {
  margin: 2em auto 50px auto;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px
      0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
img[alt="freeCodeCamp Logo"] {
  width: 100%;
}
